* {
  font-family: "Arsenal", sans-serif;
}
.search {
  position: absolute;
  top: -2vw;
  left: 10px;
  color: black;
}
.border {
  border: 10px solid;
  position: absolute;
  right: -5%;
  top: 0%;
  z-index: -2;
  width: 25vw;
  height: 37vw;
}

.hide {
  color: transparent;
}
.retired {
  font-size: 1vw;
}

.headshot {
  width: 20vw;
  height: auto;
  box-shadow: 10px;
}
.logo {
  width: 5vw;
  height: auto;
  position: absolute;
  right: 77%;
  top: 2%;
}
.card-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.stat-container {
  text-align: center;
  font-size: 1vw;
}

.name {
  font-size: 3vw;
  width: 25vw;
  word-wrap: break-word;
}
.stats {
  font-family: "Alumni Sans Pinstripe";
}
@media only screen and (max-width: 600px) {
  .search {
    position: absolute;
    top: -20vw;
    left: 10px;
    color: black;
  }
  .headshot {
    width: 50vw;
    height: auto;
  }
  .logo {
    width: 15vw;
    height: auto;
    position: absolute;
    right: 77%;
    top: 2%;
  }
  .card-container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .stat-container {
    display: block;
    text-align: center;
    font-size: 3vw;
  }
  .border {
    border: 10px solid;
    position: absolute;
    right: -10%;
    top: 0%;
    z-index: -2;
    width: 55vw;
    height: 110vw;
  }
  .name {
    font-size: 6vw;
    width: 40vw;
    word-wrap: break-word;
  }
  .stats {
    text-shadow: 2px 2px 5px white;
  }
}
